<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Sistem Pakar</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="welcome/css/bootstrap.css" rel="stylesheet">
    <link href="welcome/css/fontawesome-all.css" rel="stylesheet">
    <link href="welcome/css/swiper.css" rel="stylesheet">
    <link href="welcome/css/magnific-popup.css" rel="stylesheet">
    <link href="welcome/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <span class="turquoise">Forward Chaining</span>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="../welcome/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="../welcome/forwardchaining.html">Forward Chaining</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="../welcome/backwardchaining.html">Backward Chaining</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x facebook"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
            <span class="fa-stack">
                    <a href="#your-link">
                        <i class="fas fa-circle fa-stack-2x twitter"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav>
    <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col col-md-12">
                    <div class="card-header">
                        <h4>Pertanyaan</h4>
                        <div class="card-body">
                            <table class="table" id="app">
                                <tr>
                                    <th class="scope">1</th>
                                    <th class="scope">List Pertanyaan</th>
                                    <th class="scope">
                                        <select class="form-control" v-model="jawaban">
                                            <option v-for="option in options" v-bind:value="option.value">
                                                {{ option.text }}
                                              </option>
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="scope">1</th>
                                    <th class="scope">List Pertanyaan</th>
                                    <th class="scope">
                                        <select class="form-control">
                                        <option value="">...</option>
                                        <option value="yes-1">Ya</option>
                                        <option value="no-1">Tidak</option>
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="scope">1</th>
                                    <th class="scope">List Pertanyaan</th>
                                    <th class="scope">
                                        <select class="form-control">
                                        <option value="">...</option>
                                        <option value="yes-1">Ya</option>
                                        <option value="no-1">Tidak</option>
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="scope">1</th>
                                    <th class="scope">List Pertanyaan</th>
                                    <th class="scope">
                                        <select class="form-control">
                                        <option value="">...</option>
                                        <option value="yes-1">Ya</option>
                                        <option value="no-1">Tidak</option>
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="scope">1</th>
                                    <th class="scope">List Pertanyaan</th>
                                    <th class="scope">
                                        <select class="form-control">
                                        <option value="">...</option>
                                        <option value="yes-1">Ya</option>
                                        <option value="no-1">Tidak</option>
                                        </select>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <a class="btn-solid-lg page-scroll" href="#">Submit</a>
                        <a class="btn-solid-lg page-scroll" href="#">Back</a>
                    </div>
                    <!-- end of col -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container -->
    </header>
    <!-- end of ex-header -->
    <!-- end of header -->

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 Sistem Pakar - All rights reserved</p>
                </div>
                <!-- end of col -->
            </div>
            <!-- enf of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script src="https://unpkg.com/vue"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    nilaiakhir: 0,

                }
            },
            methods: {
                jawaban: function() {
                    this.nilaiakhir += 5;
                }
            },
        })
    </script>

    <script src="welcome/js/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="welcome/js/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="welcome/js/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="welcome/js/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="welcome/js/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="welcome/js/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="welcome/js/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="welcome/js/scripts.js"></script>
    <!-- Custom scripts -->
</body>

</html>